body {
  font-family: Arial;
  .transform(translateZ(0)); // prevent flashing
}

.periodic {
  position: relative;
  height: 200px;
  margin-right: -1px;
  text-shadow: none;
  border-style: solid;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}

.periodic-row {
  clear: both;
	  height: 10%;
}

.cell {
  float: left;
  position: relative;
  width: 5.55%;
  height: 100%;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
  transition: transform .2s;
  background-color: rgba(0, 128, 128, 0.6);
}

.cell:hover .element {
  border-color: rgba(0,0,0,0.1);
  .transform(scale(3,3));
  z-index: 1;
  transform: scale(2.0);
}

.at_num,
.at_details {
  position: absolute;
  font-size: 8px;
  color: rgba(0,0,0,1);
  opacity: 0;
}

.at_num {
  top: 4px;
  right: 5px;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

.symbol {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: -4px;
  font-size: 9px;
  line-height: 1;
  height: 9px;
  color: #000000;
}

.at_details {
  bottom: 4px;
  left: 0px;
  right: 0px;
}

.cell:nth-child(n+3) .element {
    background-color: rgba(	19, 69, 139 , 0.6);
}

.periodic-row:nth-child(n+4) .cell:nth-child(n+3):hover .element {
    background-color: rgba(	19, 69, 139 , 0.9);
}

.periodic-row:nth-child(n+4) .cell:nth-child(n+13):hover .element {
    background-color: rgba(	0, 128, 0 , 0.9);
}

.cell:nth-child(2) .element {
  background-color: rgba(255,69,0 , 0.6);
}

.cell:nth-child(n+13) .element {
  background-color: rgba(0, 128, 0, 0.6);
}

.cell:nth-child(1) .element  {
    background-color: rgba(255, 0, 0, 0.6);
}

.periodic-row:nth-child(1) .cell:nth-child(1) .element {
  background-color: rgba(0, 0, 255, 0.6);
}

.periodic-row:nth-child(1) .cell:nth-child(1):hover .element {
  background-color: rgba(0, 0, 255, 0.9);
}

.periodic-row:nth-child(2) .cell:nth-child(n+14) .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15) .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16) .element
{
  background-color: rgba(255,191,0, 0.6);
}
.periodic-row:nth-child(-n+7) .cell:nth-child(n+17) .element {
  background-color: rgba(0, 192, 64, 0.6);
}

.periodic-row:nth-child(-n+7) .cell:nth-child(18) .element {
  background-color: rgba(128,0,128, 0.6);
}


.periodic-row:nth-child(2) .cell:nth-child(13) .element,
.periodic-row:nth-child(3) .cell:nth-child(14) .element,
.periodic-row:nth-child(4) .cell:nth-child(14) .element,
.periodic-row:nth-child(4) .cell:nth-child(15) .element,
.periodic-row:nth-child(5) .cell:nth-child(15) .element,
.periodic-row:nth-child(5) .cell:nth-child(16) .element,
.periodic-row:nth-child(6) .cell:nth-child(16) .element{
    background-color: rgba(29, 201, 254, 0.9);
}

.periodic-row:nth-child(9)  .element{
    background-color: rgba(	99, 42, 187, 0.6);
}

.periodic-row:nth-child(10)  .element{
    background-color: rgba( 126, 42, 139, 0.6);
}

.periodic-row:nth-child(6) .cell:nth-child(3) .element{
    background-color: rgba(	99, 42, 187, 0.6);
}

.periodic-row:nth-child(7) .cell:nth-child(3) .element{
    background-color: rgba(126, 42, 139, 0.6);
}

.cell:nth-child(2):hover .element {
  background-color: rgba(255,69,0, 0.9);
  transform: scale(1.7);
}

.cell:nth-child(n+3):hover .element {
    background-color: rgba(	19, 69, 139 , 0.9);
    transform: scale(1.7);
}

.cell:nth-child(n+13):hover .element {
  background-color: rgba(0, 128, 0, 0.9);
  transform: scale(1.7);
}

.cell:nth-child(1):hover .element{
      background-color: rgba(255, 0, 0, 0.9);
      transform: scale(1.7);
}
.periodic-row:nth-child(2) .cell:nth-child(n+14):hover .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15):hover .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16):hover .element{
    background-color: rgba(255,191,0, 0.9);
    transform: scale(1.7);
}

.periodic-row:nth-child(9) .cell:nth-child(n+3):hover  .element{
    background-color: rgba(	99, 42, 187, 0.9);
    transform: scale(1.7);
}

.periodic-row:nth-child(10) .cell:nth-child(n+3):hover  .element{
    background-color: rgba(		126, 42, 139, 0.9);
    transform: scale(1.7);
}

.periodic-row:nth-child(2) .cell:nth-child(13):hover .element,
.periodic-row:nth-child(3) .cell:nth-child(14):hover .element,
.periodic-row:nth-child(4) .cell:nth-child(14):hover .element,
.periodic-row:nth-child(4) .cell:nth-child(15):hover .element,
.periodic-row:nth-child(5) .cell:nth-child(15):hover .element,
.periodic-row:nth-child(5) .cell:nth-child(16):hover .element,
.periodic-row:nth-child(6) .cell:nth-child(16):hover .element{
    background-color: rgba(29, 201, 254, 0.8);
    transform: scale(1.7);
}


.periodic-row:nth-child(-n+7) .cell:nth-child(n+17):hover .element {
  background-color: rgba(0, 192, 64, 0.9);
  transform: scale(1.7);
}

.periodic-row:nth-child(-n+7) .cell:nth-child(18):hover .element {
  background-color: rgba(128,0,128, 0.9);
  transform: scale(1.7);
}

.periodic-row:nth-child(6) .cell:nth-child(3):hover .element{
    background-color: rgba(	99, 42, 187, 0.9);
    transform: scale(1.7);
}

.periodic-row:nth-child(7) .cell:nth-child(3):hover .element{
    background-color: rgba(126, 42, 139, 0.9);
    transform: scale(1.7);
}

.cell:nth-child(1) .element {
  .transform-origin(0 50%);
}

.cell:nth-child(18) .element {
  .transform-origin(100% 50%);
}

.periodic-row:nth-child(10) .cell .element {
  .transform-origin(50% 100%);
}

.periodic-row:nth-child(1) .cell:nth-child(1) .element {
  .transform-origin(0 0);
}

.periodic-row:nth-child(1) .cell:nth-child(18) .element {
  .transform-origin(100% 0);
}

.periodic-row:nth-child(10) .cell:nth-child(18) .element {
  .transform-origin(100% 100%);
}


@media (min-width: 600px) {
  .periodic {
    height: 460px;
    margin-right: -2px;
  }

  .element {
    right: 2px;
    bottom: 2px;
  }

  .at_num,
  .at_details {
    font-size: 4px;
    opacity: 1;
  }

  .symbol {
    margin-top: -17px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    color: #000000;
    text-shadow: #000000;
  }
}

@media (min-width: 800px) {
  .periodic {
    height: 540px;
  }

  .symbol {
    font-size: 20px;
  }
}

h1 {
  margin: auto;
  text-align: center;
}

@media (min-width: 992px) {
  .periodic {
    height: 680px;
  }

  .at_num,
  .at_details {
    font-size: 8px;
  }

  .symbol {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .periodic {
    width: 1400px;
    height: 800px;
    margin: auto;
  }

  .at_num{
    font-weight: bold;
    color: white;
  }

  .at_num,
  .at_details {
    font-size: 9px;
  }

  .symbol {
    font-size: 30px;
  }
}

body{
  background-color: #FFC300 ;
}
